<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}teamM{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    <link rel="stylesheet" href="{{ asset('build/floatingLabels.css') }}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img class="img-fluid m-1" src="{{ asset('img/logo.png') }}" style="max-width: 40px"> <strong class="ml-3">Foxter TeamApp</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ml-auto">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="nav-item">
                    <a href="/profile" class="nav-link">{{ app.user.username }}
                        {% if is_granted("ROLE_ADMIN") %}
                            <span>(Admin)</span>
                        {% elseif is_granted("ROLE_MANAGER") %}
                            <span>(Kierownik)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('panelindex') }}" class="nav-link">Panel</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('fos_user_security_logout') }}" class="nav-link">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('fos_user_security_login') }}"
                        class="nav-link">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<article id="main">
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    {% block body %}{% endblock %}
</article>

<script src="{{ asset('build/script.js') }}"></script>
{% block javascripts %}{% endblock %}

</body>
</html>
