{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% for event in events %}
            <div class="card">
                <div class="card-header">
                    {{ event.getName() }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ event.getDescription() |raw}}</p>
                    <a href="/events/confirm/{{ event.getId() }}" class="btn btn-primary">Potwierdź przybycie!</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="container text-center mt-5">
            <img src="{{ asset('img/logo.png') }}">
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
